body{
    background-color: #5fd7ff;
}
h1{
    color: orange;
    font-size: 25px;
    background-color: slateblue;
    text-align: center;
    padding: 16px;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    
}
h3{
    color: blueviolet;
    font-size: 19px;
    text-decoration: underline;
}
p{
    color: black;
    line-height: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
ul {
    /* border: 13px;
    border-style: solid;
    border-color: blueviolet; */
    border-bottom: 10px solid black;
    border-right: dashed 8px blueviolet;
    border-left: dashed 8px blueviolet;
    border-top: solid 10px #0000ff;
}
li{
    list-style-type: square;
}